{% extends 'base.html' %}

{% block title %}
    Chat con MovieAssist
{% endblock %}

{% block content %}

<div class="fixed-top bg-primary text-white py-3 px-4" style="z-index: 1030;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h4 mb-0">Chat con MovieAssist</h1>
            <div class="d-flex align-items-center">
                <!-- Mostrar el nombre del usuario conectado -->
                <p class="mb-0 me-3">Bienvenido, {{ current_user.email }}</p>
                <!-- Botón para editar perfil -->
                <a href="{{ url_for('editar_perfil') }}" class="btn btn-light me-2">Editar perfil</a>
                <!-- Botón para cerrar sesión -->
                <form id="logout-form" action="{{ url_for('logout') }}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>                
            </div>
        </div>
        <!-- Variables de sesión -->
        <div class="mt-2">
            <p class="small mb-0">
                Preferencias: <strong>{{ session['profile']['favorite_movie_genres'] | join(', ') }}</strong>
            </p>
        </div>
    </div>
</div>

<!-- Added a spacer div to account for fixed header height -->
<div style="height: 80px;"></div>

<div class="container chat-container col-xxl-8 px-4 py-5">
    <!-- Sección de mensajes -->
    <div class="messages-section mb-5" id="messages-section" style="max-height: 500px; overflow-y: auto;">
        {% for message in messages %}
            {% if message.author == 'assistant' %}
                <div class="d-flex flex-row justify-content-start mb-4">
                    <img src="{{ url_for('static', filename='bot.png') }}" alt="avatar 1" style="width: 60px; height: 100%;">
                    <div class="p-3 ms-3 message-box assistant-message">
                        <p class="small mb-0 text-white">{{message.content}}</p>
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-row justify-content-end mb-4">
                    <img src="{{ url_for('static', filename='user.png') }}" alt="avatar 2" style="width: 50px; height: 100%;">
                    <div class="p-3 me-3 message-box user-message">
                        <p class="small mb-0 text-teal">{{message.content}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Mostrar los intents siempre -->
    <div class="d-flex flex-wrap mb-4 pt-2" style="padding-top: 10px;">
        {% for intent, message in intents.items() %}
            <form method="POST" class="me-2 mb-2">
                {% if intent != 'Enviar' %}
                    <button class="btn btn-warning btn-sm" type="submit" name="intent" value="{{ intent }}">
                        {{ intent }}
                    </button>
                {% endif %}
            </form>
        {% endfor %}
    </div>
    <!-- Formulario de entrada de mensaje -->
    <div class="message-input-container">
        <form id="message-form" method="POST">
            <div class="input-group mb-3">
                <input name="message" required="required" class="form-control" placeholder="Enviar mensaje MovieAssist" aria-label="Tu mensaje" aria-describedby="send-message"/>
                <button type="submit" id="send-message" class="btn btn-primary">
                    <span id="spinner" class="spinner-border spinner-border-sm" aria-hidden="true" style="display: none;"></span>
                    <span id="button-text">Enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Script para mantener el scroll al final -->
<script>
    // Función para actualizar los mensajes en la UI
    function updateMessages(messages) {
        const messagesContainer = document.getElementById('messages-section');
        messagesContainer.innerHTML = '';

        messages.forEach(message => {
            const messageElement = document.createElement('div');
            messageElement.classList.add('d-flex', message.author === 'user' ? 'justify-content-end' : 'justify-content-start', 'mb-4');

            const avatarElement = document.createElement('img');
            avatarElement.src = message.author === 'user' ? '/static/user.png' : '/static/bot.png';
            avatarElement.alt = `${message.author} avatar`;
            avatarElement.style.width = '50px';
            avatarElement.style.height = '100%';

            const messageBox = document.createElement('div');
            messageBox.classList.add('p-3', message.author === 'user' ? 'me-3' : 'ms-3', 'message-box', message.author === 'user' ? 'user-message' : 'assistant-message');
            messageBox.innerHTML = `<p class="small mb-0 text-${message.author === 'user' ? 'teal' : 'white'}">${message.content}</p>`;

            messageElement.appendChild(avatarElement);
            messageElement.appendChild(messageBox);
            messagesContainer.appendChild(messageElement);
        });

        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }

    // Función para ocultar el spinner y restablecer el texto del botón
    function hideSpinner() {
        const spinner = document.querySelector('#send-message .spinner-border');
        const button = document.querySelector('#send-message');
        const buttonText = document.querySelector('#button-text');
        spinner.style.display = 'none';
        buttonText.style.display = 'inline';
        button.disabled = false;
    }

    // Manejador para el formulario de entrada de mensajes
    document.getElementById('message-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const sendButton = document.getElementById('send-message');
        const spinner = document.getElementById('spinner');
        const buttonText = document.getElementById('button-text');
        const messageInput = document.querySelector('input[name="message"]');

        spinner.style.display = 'inline-block';
        buttonText.style.display = 'none';
        sendButton.disabled = true;

        const messageData = new FormData();
        messageData.append("message", messageInput.value);

        fetch(window.location.href, {
            method: 'POST',
            body: messageData,
        })
        .then(response => response.text())
        .then(text => {
            try {
                const data = JSON.parse(text);
                if (data.status === 'success') {
                    updateMessages(data.messages);
                    messageInput.value = '';
                } else {
                    console.error('Error en la respuesta:', data);
                }
                hideSpinner();
            } catch (error) {
                console.error('Error parsing JSON:', error);
                console.log('Respuesta del servidor:', text);
                hideSpinner();
            }
        })
        .catch(error => {
            console.error('Error en la solicitud:', error);
            hideSpinner();
        });
    });

    // Manejador para los formularios excepto logout
    document.querySelectorAll('form').forEach(form => {
        if (form.id !== 'logout-form') {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const button = form.querySelector('button[type="submit"]');
                if (button) {
                    button.disabled = true;
                    const originalText = button.innerHTML;
                    button.innerHTML = `<span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Cargando...`;

                    const formData = new FormData();
                    const intent = button.getAttribute('value');
                    formData.append('intent', intent);

                    fetch(window.location.href, {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.text())
                    .then(text => {
                        try {
                            const data = JSON.parse(text);
                            if (data.status === 'success') {
                                updateMessages(data.messages);
                            } else {
                                console.error('Error en la respuesta:', data);
                            }
                            button.disabled = false;
                            button.innerHTML = originalText;
                        } catch (error) {
                            console.error('Error parsing JSON:', error);
                            console.log('Respuesta del servidor:', text);
                            button.disabled = false;
                            button.innerHTML = originalText;
                        }
                    })
                    .catch(error => {
                        console.error('Error en la solicitud:', error);
                        button.disabled = false;
                        button.innerHTML = originalText;
                    });
                }
            });
        }
    });

    // Scroll al final de la sección de mensajes al cargar la página
    window.onload = function() {
        setTimeout(() => {
            const messagesSection = document.getElementById('messages-section');
            if (messagesSection) {
                messagesSection.scrollTop = messagesSection.scrollHeight;
            }
        }, 100);
    };
</script>

{% endblock %}
