{% extends 'base.html' %}
{% block title %}
  Editar Perfil - iA MovieAssist
{% endblock %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
        
    <h2>Editar Perfil</h2>
    
    <form method="POST" action="{{ url_for('editar_perfil') }}">
    <label class="form-label">Géneros de películas favoritos</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_action" name="favorite_movie_genres" value="Acción" {% if "Acción" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_action">Acción</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_comedy" name="favorite_movie_genres" value="Comedia" {% if "Comedia" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_comedy">Comedia</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_drama" name="favorite_movie_genres" value="Drama" {% if "Drama" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_drama">Drama</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_horror" name="favorite_movie_genres" value="Terror" {% if "Terror" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_horror">Terror</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_scifi" name="favorite_movie_genres" value="Ciencia Ficción" {% if "Ciencia Ficción" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_scifi">Ciencia Ficción</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="genre_romance" name="favorite_movie_genres" value="Romance" {% if "Romance" in profile.favorite_movie_genres %}checked{% endif %}>
        <label class="form-check-label" for="genre_romance">Romance</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
</form>

    <!-- Botones para ir al home o al chat -->
    <div class="mt-4">
        <a href="{{ url_for('chat') }}" class="btn btn-primary">Ir al Chat</a>
    </div>

</div>
{% endblock %}


