
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a iA MovieAssist</h1>
    </header>
    <main>
        <p>Tu asistente para recomendaciones de películas y series.</p>
        <div class="auth-options">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Iniciar Sesión</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Regístrate Aquí</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 iA MovieAssist. Todos los derechos reservados.</p>
    </footer>
</body>
</html>